.wrapper {
  background-color: beige;
  display: block;
  height: 60vh;
  border: 3px solid black;
  padding: 0px 15px;
}

.buttons {
  margin: 8%;
}

.allExpenses {
  height: 25px;
  width: 150px;
  border: solid 1px black;
  margin: 5px 0 5px 0;
  padding: 10px;
}

.myBudget {
  height: 25px;
  width: 150px;
  border: solid 1px black;
  margin: 5px 0 5px 0;
  padding: 10px;
}

.inputs {
  position: relative;
  height: 15px;
  width: 150px;
  border: solid 1px black;
  margin: 5px 0 5px 0;
  padding: 10px;
}

#newExp {
  margin-left: 10%;
}
