HTML {
  background-color: darkslategrey;
  background-blend-mode: overlay;
}

form {
  color:  darkslategrey;
}

.wrapper {
  background-color: ivory;
  position: fixed;
  display: block;
  height: 80vh;
  width: 60%;
  border: 6px solid cornsilk;
  padding: 0px 15px;
  margin: 5vh 40vh;
}

.inputs {
  position: absolute;
  height: 15px;
  width: 150px;
  border: solid 1px black;
  padding: 10px;
}


/* Expenses */

#expenseName {
  background-color: lightcyan;
  text-align: center;
  font-size: large;
  margin-right: 5vh;
  float: right;
  left: 20vh;
  top: 60vh;
}

#expenseAmount {
  background-color: lightcyan;
  text-align: center;
  font-size: large;
  margin-left: 5vh;
  float: right;
  left: 50vh;
  top: 60vh;
}

#expenseButton {
  position: relative;
  left: 45vh;
  top: 60vh;
  padding: 6px 6px;
}


#expenseTotal {
  float: right;
  left: 15vh;
  top: 20vh;
}

/* Income*/

#incomeBox {
  background-color: honeydew;
  float: right;
  left: 20vh;
  top: 48vh;
}

#incomeDisplay {
  float: right;
  left: 10%;
  top: 30vh;
}

#incomeButton {
  position: relative;
  left: 67vh;
  top: 48vh;
  padding: 6px 6px;
}
